.example-spacer {
  flex: 1 1 auto;
}

.toolbar{
  display: flex;
  align-items: center;
}

.no-select{
  cursor: pointer;
  user-select: none;
}

.mat-toolbar{
  height: 60px;
  padding: 5px 50px;
  font-weight: 800;
  font-size: 1.2em;
  background-color: #fff;
}

.h-fab{
  color: rgba(1, 1, 1, 0.874)
}

.h-fab:hover{
  background-color: #000;
  color: #fff;
  transition: .5s ease-in-out;
}

.mat-menu-item:hover{
  background-color: #000;
  color: #fff;
  transition: .5s ease-in-out;
}